.navbar{
	padding-left: 165px;
	padding-right: 165px;
	background-color: transparent !important;
    z-index: 99;
}
.navbar .nav-link{
	color: rgba(80, 95, 152, 1) !important;
	font-size: 14px;
	font-weight: 400;
}
.navbar-nav{
	gap:  60px;
}
.nav-mid-text{
	font-weight: 900;
	font-size: 26px;
}